*{
  margin: 0;
  padding: 0;
}

body{
  background: radial-gradient(#382664, #120B25  );

}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.card{
  background-color: #3d2f5521;
  max-width: 450px;
  height: 100%;
  width: 100%;
  border: 2px solid #3D2F55;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #000000b8;
  display: flex;
  flex-direction: column;
}
.tokenname{
  color: white;
  justify-self: center;
  text-align: left;
}